<p id="notice"><%= notice %></p>

<div id = "first_name" >
    <p>
      <b>First name:</b>
      <%= @user_info.first_name %>
    </p>
</div>

<div id = "last_name">
    <p>
      <b>Last name:</b>
      <%= @user_info.last_name %>
    </p>
</div>

<div id = "home_address">
    <p>
      <b>Home address:</b>
      <%= @user_info.home_address %>
    </p>
</div>

<div id = "work_address">
    <p>
      <b>Work address:</b>
      <%= @user_info.work_address %>
    </p>
</div>

<div id = "skype">
    <p>
      <b>Skype:</b>
      <%= @user_info.skype %>
    </p>
</div>

<div id = "birthday">
    <p>
      <b>Birthday:</b>
      <%= @user_info.birthday %>
    </p>
</div>

<div id = "family_status">
    <p>
      <b>Family status:</b>
      <%= @user_info.family_status %>
    </p>
</div>

<div id = "home_city">
    <p>
      <b>Home city:</b>
      <%= @user_info.home_city %>
    </p>
</div>
<p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %>
