<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
/>
<title>Asteroids Reloaded</title>
<%= stylesheet_link_tag "asteroids", :media=>"all" %>
    <%=javascript_include_tag "soundmanager2-min" %>
        <script>
            var soundManagerLoaded = false;
            soundManager.flashVersion = 9;
            soundManager.useFastPolling = true;
            soundManager.useHighPerformance = true;
            soundManager.onready(function () {
                soundManagerLoaded = true;
            });
            soundManager.ontimeout(function () {
                soundManagerLoaded = true;
                soundManager = false;
            });
            soundManager.url = 'assets/swf/';
        </script>
        <%= javascript_include_tag "mathlib-min" %>
            <%= javascript_include_tag "gamelib-min" %>
                <%= javascript_include_tag "asteroids-min" %>
                    <script async defer src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e4813104686cad8"></script>
                    <meta name="description" content="Asteroids" />
                    </head>
                    <div class="wrapper">
                        <canvas class="box-shadow" id="canvas" width="640" height="640"></canvas>
                        <div class="info">
                            <div class="infopanel box-shadow">
                                <div class="title">Asteroids [Reloaded]</div>
                                <div class="settings">
                                    <p class="left heading">Instructions:</p>
                                    <p>Left and Right Arrows: Rotate ship</p>
                                    <p>Up Arrow: Thrust</p>
                                    <p>SPACE: Fire main weapon(s)</p>
                                    <p>Z: Fire bomb weapon (area effect, uses energy)</p>
                                    <p>Down Arrow or SHIFT: Shield (will recharge...)</p>
                                    <p class="highlight section">S: Enable or disable sound effects</p>
                                    <p class="highlight">R: Switch between Modern and Retro graphics</p>
                                    <p class="highlight">Escape: Pause the game</p>
                                </div>
                            </div>
                        </div>
                    </div>

