<%= form_for @video, :html => { :multipart => true } do |form| %>
    <p>
      <%= form.label :name %><br />
      <%= form.text_field :name %>
    </p>

    <%= form.file_field :source %>
    <p><%= form.submit %></p>
<% end %>

