<p id="notice"><%= notice %></p>


    <p>
      <b>Name:</b>
      <%= @user_info.first_name %>
    </p>

    <p>
      <b>Last name:</b>
      <%=  @user_info.last_name %>
    </p>

    <p>
      <b>Home address:</b>
      <%=  @user_info.home_address %>
    </p>

    <p>
      <b>Work address:</b>
      <%=  @user_info.work_address %>
    </p>

    <p>
      <b>Skype:</b>
      <%=  @user_info.skype %>
    </p>

    <p>
      <b>Birthday:</b>
      <%=  @user_info.birthday %>
    </p>

    <p>
      <b>Family status:</b>
      <%=  @user_info.family_status %>
    </p>

    <p>
      <b>Home country:</b>
      <%=  @user_info.country %>
    </p>

    <p>
      <b>Gender:</b>
      <%=  @user_info.gender %>
    </p>

