<body>
<h1> Home Page </h1>
<p>
  This is home page for the our social network.
</p>
      <% if user_signed_in? %>
        [TODO: We must put here some kind of link to users info or smth like that.]</br>
        [TODO: In future we must hide all users list from here. I done it because we don't have search :)]

        <table>
            <% @users.each do |user| %>
            <tr>
              <td> <%= user.email %> </td>
              <td> <%= link_to 'Show him!','/wall/' + user.id.to_s, :class => "button round" %></td>
              <td>
                <% @user = user %>
                <% if user != current_user %>
                  <%= render 'relationships/follow_form' %>
                <% end %>
              </td>
            </tr>
            <% end %>
        </table>
        <%= paginate @users %>
      <% else %>
          <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
      <% end %>
</body>

